<!-- Navigation -->
<nav>
  <div class="logo"><h1>COUNTER-MATIC</h1></div>
  <ul class="nav-links">
    {% if request.user.is_anonymous %}
    <li><a href="{% url 'countermatic:register' %}">Register</a></li>
    <li><a href="{% url 'countermatic:login' %}">Log In</a></li>
    {% else %}
    <li><a href="{% url 'countermatic:user_profile' request.user %}">{{request.user}}</a></li>   
    <li><a href="{% url 'countermatic:logout' %}">Log Out</a></li>
    {% endif %}

  </ul>
  <!-- Mobile Navigation -->
  <div class="nav-burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
