{% extends 'countermatic/base.html' %} 
{% load static %} 
{% block content %}

<div class="vendorlist">
  <h4 id="vendorHeading">Select a Vendor</h4>
  <form action="{% url 'countermatic:harvest' %}" method="POST" name="harvestForm" onsubmit="return validateSubmit()">
    {% csrf_token %}
    <select
      name="vendordrop"
      id="vendor-drop"
      class="form-select"
      aria-label="Vendor Dropdown"
    >
      <option selected>Select a Vendor</option>
      {% for vendor in user.vendors.all%}
      <option value="{{vendor.id}}">{{vendor.vendor_name}}</option>
      {% endfor %}
    </select>
    <h4 id="reportHeading">Select a Report</h4>
    <select
      name="reportdrop"
      id="report-drop"
      class="form-select"
      aria-label="Report Dropdown"
      disabled
    >
      <option selected>Select a Report</option>
    </select>
    <h4>Date From</h4>

    <input id="datefrom" class="form-control" type="text" name="datefrom" value="" />

    <script>
    $(function() {
      $('input[name="datefrom"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format('YYYY'),10)
      });
    });
    </script>
    <h4>Date To</h4>

    <input id="dateto" class="form-control" type="text" name="dateto" value="" />

    <script>
    $(function() {
      $('input[name="dateto"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format('YYYY'),10)
      });
    });
    </script>
    
    <h4>Delivery Method</h4>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="radioRouter" id="radioTable" value="radioTable" checked>
      <label class="form-check-label" for="inlineRadio2">Table</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="radioRouter" id="radioCharts" value="radioCharts">
      <label class="form-check-label" for="inlineRadio3">Charts</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="radioRouter" id="radioDownload" value="radioDownload" disabled>
      <label class="form-check-label" for="inlineRadio1">Download</label>
    </div>

    <button id="sub_btn" type="submit" type="button" class="btn btn-primary btn-lg btn-block">
      Harvest Report
    </button>
  </form>
</div>
<script defer src="{% static 'countermatic/app_harvest.js' %}"></script>
{% endblock %}
