{% extends 'countermatic/base.html' %} 
{% load static %}

{% block content %}

<div class="card" style="width: 18rem; height: 20rem; padding-top: 20px;">
  <div class="d-flex justify-content-center"><img class="card-img-top" src="{% static 'countermatic/img/gears.png' %}" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Configure Vendors</h5>
      <p class="card-text">Register and update vendor profiles</p>
      {% if request.user.is_anonymous %}
      <a href="#" class="btn btn-primary disabled">Configure</a>
      {% else %}
      <a href="{% url 'countermatic:vendors' %}" class="btn btn-primary">Configure</a>
      {% endif %}
    </div>
  </div>
  <div class="card" style="width: 18rem; height: 20rem; padding-top: 20px;">
    <div class="d-flex justify-content-center"><img class="card-img-top" src="{% static 'countermatic/img/api.png' %}" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Harvest</h5>
      <p class="card-text">Initiate a COUNTER report harvest and view data</p>
      {% if request.user.is_anonymous %}
      <a href="#" class="btn btn-primary disabled">Harvest</a>
      {% else %}
      <a href="{% url 'countermatic:harvest' %}" class="btn btn-primary">Harvest</a>
      {% endif %}
    </div>
  </div>
  <div class="card" style="width: 18rem; height: 20rem; padding-top: 20px;">
    <div class="d-flex justify-content-center"><img class="card-img-top" src="{% static 'countermatic/img/data.png' %}" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">View Data Tables</h5>
      <p class="card-text">View harvested data in a table and export</p>
      <a href="#" class="btn btn-primary disabled">View Tables</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; height: 20rem; padding-top: 20px;">
    <div class="d-flex justify-content-center"><img class="card-img-top" src="{% static 'countermatic/img/dashboard.png' %}" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Data Dashboard</h5>
      <p class="card-text">View data in a dashboard with data visualization</p>
      {% if request.user.is_anonymous %}
      <a href="#" class="btn btn-primary disabled">View Dashboard</a>
      {% else %}
      <a href="{% url 'countermatic:dashboard' %}" class="btn btn-primary">View Dashboard</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
